html {
    font-family: 'Montserrat', 'Fraunces', sans-serif;
    width: 1440px;
    height: 100vh;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 600px;
}

img.desktop {
    width: auto;
    height: 450px;
}

img.mobile {
    display: none;
}

.text-container {
    padding: 2rem;
    margin: 0;
    background-color: white;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
    font-size: 0.7rem;
}

h1 {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.3rem;
}

.prices {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

h4 {
    font-weight: 500;
    line-height: 1.7rem;
}

h2 {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    padding-right: 1.75rem;
}

h4#price {
    text-decoration: line-through;
}

button {
    display: flex;
    background-color: hsl(158, 36%, 17%);
    border: 1px solid hsl(158, 36%, 17%);
    border-radius: 5%;
    font-family: 'Montserrat';
    /* text-align: center; */
    color: white;
    padding: 0.5rem 3rem;
    font-size: 0.7rem;
    cursor: pointer;
}

button img {
    display: flex;
    padding-right: 1rem;
}


.attribution { 
    font-size: 11px;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    body {
        max-width: 375px;
    }

    img.desktop {
        display: none;
    }

    img.mobile {
        display: block;
        width: 375px;
    }

     .container {
        display: block;
        margin: 0;
        padding: 0;
    }
}